.order-delivery__col-wrapper {
    padding-left: 1.7rem; }
    .order-delivery__col-wrapper-text {
      font-weight: bold;
      margin-bottom: 2rem; }
    .order-delivery__col-wrapper + .order-delivery__col-wrapper {
      margin-top: 4rem; }
    .order-delivery__col-wrapper .order-delivery-custom__item {
      margin-bottom: 2rem; }
      .order-delivery__col-wrapper .order-delivery-custom__item:last-child {
        margin-bottom: 0; }
    .order-delivery__col-wrapper .order-delivery-date__item {
      width: 100%;
      margin: 0 0 2rem; }
      .order-delivery__col-wrapper .order-delivery-date__item:last-child {
        margin-bottom: 0; }
    .order-delivery__col-wrapper .datepicker-layout-v2 {
      display: block; }
      @media screen and (max-width: 680px) {
        .order-delivery__col-wrapper .datepicker-layout-v2 {
          margin-left: 0; } }
      @media screen and (max-width: 680px) {
        .order-delivery__col-wrapper .datepicker-layout-v2:before {
          display: none; } }
      .order-delivery__col-wrapper .datepicker-layout-v2:hover {
        -webkit-box-shadow: 0 0 2px #9acc4e;
                box-shadow: 0 0 2px #9acc4e;
        border-color: #9acc4e; }
      .order-delivery__col-wrapper .datepicker-layout-v2:focus {
        -webkit-box-shadow: 0 0 2px #9acc4e;
                box-shadow: 0 0 2px #9acc4e;
        border-color: #9acc4e; }
    .order-delivery__col-wrapper .datepicker-text {
      display: block; }
    .order-delivery__col-wrapper .cake-order__delivery_time {
      -webkit-box-flex: 1;
          -ms-flex: 1 1.2 auto;
              flex: 1 1.2 auto;
      margin-left: 1rem; }
    .order-delivery__col-wrapper .datepicker-icon {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 40px; }
      .order-delivery__col-wrapper .datepicker-icon i {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        opacity: 0.8;
        width: 1.7rem;
        height: 1.7rem;
        background: url(../img/icons/icon-calendar-purple.svg) 0 0 no-repeat; }
    .order-delivery__col-wrapper .order-delivery-address__item:last-child {
      margin-bottom: 0; }
    .order-delivery__col-wrapper .c-select-layout-v2 .SelectBox {
      padding: 1.2rem 3rem 1.2rem 1.8rem !important; }
    .order-delivery__col-wrapper .c-select-layout-v2 {
      margin-left: 5.5rem; }
      @media screen and (max-width: 680px) {
        .order-delivery__col-wrapper .c-select-layout-v2 {
          margin-left: 0; } }
  
  .order-pay__input {
    margin-bottom: 2rem; }
  
  .order-delivery__title {
    margin-bottom: 1.4rem; }
  
  .datepicker-layout-v2 .mod-input-order[type="text"] {
    font-size: 1.5rem; }
  
  .order-delivery__col-wrapper .c-select + .SelectBox:before {
    display: inline;
    content: "Выберите интервал доставки:";
    font-family: "PT Serif Caption";
    font-size: 1.5rem;
    color: #555451;
    line-height: 1.4; }
  
  .order-delivery__col-wrapper .SumoSelect > .CaptionCont > span {
    display: inline; }
  
  .order-delivery__col-wrapper .SumoSelect {
    width: 100%; }
  
  .text-after-city {
    display: block;
    margin-top: 1rem; }
  
  .phone-layout {
    margin-left: 5.5rem;
    border: .1rem solid #dcd9d3;
    border-radius: .4rem;
    cursor: pointer;
    position: relative; }
    @media screen and (max-width: 680px) {
      .phone-layout {
        margin-left: 0; } }
    .phone-layout:before {
      content: '';
      position: absolute;
      top: 0;
      left: -5.5rem;
      width: 4.5rem;
      height: 4.9rem;
      background: url(../img/icons/icon-phone-purple.png) 0 0 no-repeat; }
      @media screen and (max-width: 680px) {
        .phone-layout:before {
          display: none; } }
    .phone-layout:hover {
      -webkit-box-shadow: 0 0 2px #9acc4e;
              box-shadow: 0 0 2px #9acc4e;
      border-color: #9acc4e; }
    .phone-layout:focus {
      -webkit-box-shadow: 0 0 2px #9acc4e;
              box-shadow: 0 0 2px #9acc4e;
      border-color: #9acc4e; }
  
  .phone-text {
    width: 100%;
    display: block;
    padding: 1.2rem 1.8rem;
    font-size: 1.5rem;
    color: #555451;
    cursor: pointer; }
    .phone-text .phone-input {
      display: inline-block;
      color: #c44890;
      font-family: "PT Serif Caption";
      font-size: 1.5rem;
      line-height: 1.5;
      outline: none;
      border-radius: .4rem;
      padding: 0;
      background-color: transparent;
      background-color: rgba(255, 255, 255, 0.8);
      border: none;
      cursor: pointer; }
      @media screen and (min-width: 681px) {
        .phone-text .phone-input {
          width: 30rem !important; } }
  
  .cake-order-time-oneclick .c-select-layout-v2 select {
    height: 100%;
    min-height: 5.1rem; }
  
  .cake-order-time-oneclick .c-checkbox {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    margin-left: 1.2rem;
    padding-left: 4.4rem;
    font-size: 1.5rem;
    color: #555451; }
    @media screen and (max-width: 680px) {
      .cake-order-time-oneclick .c-checkbox {
        margin-left: 0;
        margin-bottom: 1rem;
        padding-left: 2rem; } }
  
  .cake-order-time-oneclick .cake-order__delivery_time {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-left: 3rem; }
    @media screen and (max-width: 680px) {
      .cake-order-time-oneclick .cake-order__delivery_time {
        margin-left: 0; } }
  
  .cake-order-time-oneclick .order-delivery-date__item:last-child {
    margin-bottom: 3rem; }
    @media screen and (max-width: 680px) {
      .cake-order-time-oneclick .order-delivery-date__item:last-child {
        margin-bottom: 1.6rem; } }
  
  .cake-order-time-oneclick .order-delivery__chekbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 680px) {
      .cake-order-time-oneclick .order-delivery__chekbox {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  
  @media screen and (max-width: 680px) {
    .cake-order-time-oneclick .order-delivery__col-wrapper {
      padding: 0;
      margin: 0 8px; } }
  
  .c-grid.c-grid-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column; }
  
  .popup-pie-one-click .popup-cake-oneclick-body {
    padding-bottom: 4rem; }
    @media screen and (max-width: 680px) {
      .popup-pie-one-click .popup-cake-oneclick-body {
        padding-bottom: 1.6rem; } }
  
  .popup-pie-one-click .popup-cake-oneclick-footer .cake-order-final-coupon.mod-view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }